.idea/
/node_modules
/build

/.pnp
.pnp.js

/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/.eslintrc
/backend/.prettierignore
/backend/.prettierrc.json
/frontend/node_modules/
/backend/build/
/backend/src/routes.ts
