.idea/
/node_modules
/build

/.pnp
.pnp.js

/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/package-lock.json
/frontend/yarn.lock
/frontend

/backend/.eslintrc
/backend/.prettierignore
/backend/.prettierrc.json
/backend/build/
/backend/src/routes.ts
/backend/package-lock.json
/backend/yarn.lock
/backend/database/music/
/backend/node_modules
/frontend/.babelrc
/frontend/.eslintrc.json
/frontend/webpack.config.ts
/backend/log/
/frontend/dist/
